@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

/* 先頭の数字 */
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Noto+Sans+JP:wght@100..900&display=swap");
* {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header h1 {
  margin-top: 1.3rem;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 450;
}
h2 {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 1.7rem;
  margin-bottom: 0;
}
h3 {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 0.9rem;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
.list-title {
  display: flex;
  align-items: baseline;
}
.list-number {
  font-size: 3em;
  color: #ff4646;
  font-weight: bold;
  margin-right: 10px;
  /* 文字のスタイル */
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* 中央寄せ */
}
img:nth-of-type(1),
img:nth-of-type(2),
img:nth-of-type(3) {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.list-number:nth-of-type(3),
.list-number:nth-of-type(4) {
  padding-bottom: 3rem;
}
img:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)) {
  display: block;
  width: 45%;
  margin: 0 auto;
}

h3 + p,
img + p,
.alert + p {
  line-height: 1.5;
  font-size: 0.85rem;
  margin-bottom: 2.1rem;
}
h2:nth-of-type(2) {
  margin-top: 4rem;
}
h2:first-of-type {
  margin-top: 1.5rem;
}
button {
  text-align: center;
}
.alert {
  margin: 1rem 0;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 2.5rem 0 0;
}

button {
  /* 透明に初期化 */
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  appearance: none;
}
.list-heading {
  padding-bottom: 2rem;
}
a {
  color: black;
  border: solid 1px black;
  padding: 0.3rem;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 0.8rem;
}

/* デザインB（タブレット） */
@media screen and (min-width: 600px) {
  /* タブレット用レイアウト 600px以上の範囲に収めるデザインはこの中に記述 */
  .wrapper {
    width: 75%;
  }
  img:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)) {
    display: block;
    width: 35%;
    margin: 0 auto;
  }
}
/* デザインC(PC) */
@media screen and (min-width: 1025px) {
  /* PC用レイアウト 1,025px以上の範囲に収めるデザインはこの中に記述 */
  .wrapper {
    width: 50%;
  }
  img:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)) {
    display: block;
    width: 30%;
    margin: 0 auto;
  }
}
